html {
	height: 100%;
	/* max-height: 600px; */
	width: 1000px;
	background-color: rgb(30, 173, 255);
	background-image:		
		//url('Image adress here'),
		//url('Inage adress here'),
		//url('Image adress here'),
		//url('Image adress here');
	background-repeat: repeat-x;
	background-position: 
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size: 
		800px,
		500px 200px,
		1500px,
		400px 260px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position: 
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}
